<?xml version="1.0" encoding="utf-8" ?>

<configuration>
    <connectionStrings>
        <add name="Data.Properties.Settings.BugTrackingSystemConnection"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=BugTrackingSystem;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
