<?xml version="1.0"?>

<configuration>
  <connectionStrings>
    <add name="BugTrackingSystemConnection" 
         connectionString="Data Source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=BugTrackingSystem"/>
  </connectionStrings>

    <system.web>

      <httpRuntime requestValidationMode="2.0"/>
      <pages validateRequest="false"/>
      
      <membership defaultProvider="BugTrackingSystemMembershipProvider">
        <providers>
          <add name="BugTrackingSystemMembershipProvider" type="System.Web.Security.SqlMembershipProvider"
               connectionStringName="BugTrackingSystemConnection" enablePasswordRetrieval="false"
               requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
               maxInvalidPasswordAttempts="5" minRequiredPasswordLength="3"
               minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"/>
        </providers>
      </membership>

      <roleManager enabled="true" defaultProvider="AspNetSqlRoleProvider">
        <providers>
          <clear />
          <add name="AspNetSqlRoleProvider"
            type="System.Web.Security.SqlRoleProvider"
            connectionStringName="BugTrackingSystemConnection"/>
        </providers>
      </roleManager>
        
      <compilation debug="true" targetFramework="4.0" />

      <authentication mode="Forms">
        <forms name="BugTrackingSystemLogin"
          loginUrl="Default.aspx" path="/" protection="All" timeout="60">
        </forms>
      </authentication>

      <customErrors mode="Off" defaultRedirect="Oops.aspx">
        <error statusCode="404" redirect="NotFound.aspx" />
        <error statusCode="500" redirect="Oops.aspx" />
      </customErrors>

      <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="bg-BG"/>

    </system.web>

  <location path="Administrator">
    <system.web>
      <authorization>
        <allow roles="Administrator" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Tester">
    <system.web>
      <authorization>
        <allow roles="Tester" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

  <location path="Inquiries">
    <system.web>
      <authorization>
        <allow roles="Tester,Administrator" />
        <deny users="*" />
      </authorization>
    </system.web>
  </location>

</configuration>
